<!DOCTYPE html>
<html>
<head>
	<title>about</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/about.css">
</head>
<body>
	<a href="../final.html"><div id="box"><h1 id="header">VANDERPUMP RULES</h1></div></a>
	<a href="http://www.bravotv.com/"><img id="logo" src="../images/bravologo.png"></a>
	<div class="dropdown">
		<img class="menu" src="../images/searchicon.png">
  		<!-- <button class="menu">navigate</button> -->
 		<div class="menu-options">
  			<a href="about.html">about</a>
  			<a href="cast.html">meet the cast</a>
  			<a href="press.html">press</a>
  		</div>
	</div>

	<div class="description">
		<h2>What is Vanderpump Rules? Only the world's best reality show, duh!</h2>
		<p><img src="../images/jiggy.gif">Bravo TV's Vanderpump Rules chronicles the passionate, volatile, hot-and-bothered staff at Lisa Vanderpump's West Hollywood mainstay SUR. Lisa Vanderpump first gained fame as a cast member on "The Real Housewives of Beverly Hills," but her full-time job is as co-owner and boss at SUR, which stands for Sexy Unique Restaurant. Vanderpump balances her motherly instinct with her shrewd business sense to maintain control over the restaurant's wild group of employees who are working at the eatery while pursuing their dreams. Drama seems to be part of the job for the employees at SUR, who tend to date -- and, in most cases, subsequently break up with -- their fellow co-workers. <i>Description from Wikipedia</i></p>
		<p>Pump Rules is the apex of reality television: unparalleled conflict between a real group of friends whose juvenile misbehavior is wildly entertaining. As if that's not enough, the show also features Lisa Vanderpump's many animals - including Jiggy, the pomeranian whose alopecia requires him to wear custom-made outfits. </p>
		
	</div>
</body>
</html>