<!DOCTYPE html>
<html>
<head>
	<title>cast</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" href="../javascript/cast.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/cast.css">

</head>
<body>
	<a href="../final.html"><div id="box"><h1 id="header">VANDERPUMP RULES</h1></div></a>
	<a href="http://www.bravotv.com/"><img id="logo" src="../images/bravologo.png"></a>
	<div class="dropdown">
		<img class="menu" src="../images/searchicon.png">
  		<!-- <button class="menu">navigate</button> -->
 		<div class="menu-options">
  			<a href="about.html">about</a>
  			<a href="cast.html">meet the cast</a>
  			<a href="press.html">press</a>
  		</div>
	</div>


	<div class="slideshow-container">
		<div class="slide fade">
			<img src="../images/lisa.png" class="castPics">
		</div>

		<div class="slide fade">
			<img src="../images/jax.png" class="castPics">
		</div>

		<div class="slide fade">
			<img src="../images/brittany.png" class="castPics">
		</div>

		<div class="slide fade">
			<img src="../images/stassi.png" class="castPics">
		</div>

		<div class="slide fade">
			<img src="../images/scheana.png" class="castPics">
		</div>

		<div class="slide fade">
			<img src="../images/tom.png" class="castPics">
		</div>

		<div class="slide fade">
			<img src="../images/ariana.png" class="castPics">
		</div>

		<div class="slide fade">
			<img src="../images/james.png" class="castPics">
		</div>

		<div class="slide fade">
			<img src="../images/katie.png" class="castPics">
		</div>

		<div class="slide fade">
			<img src="../images/schwartz.png" class="castPics">
		</div>

		<div class="slide fade">
			<img src="../images/kristen.png" class="castPics">
		</div>

		<div class="slide fade">
			<img src="../images/lala.png" class="castPics">
		</div>

	</div>

<!-- next and previous buttons -->
	<a class="prev">&#10094;</a>
	<a class="next">&#10095;</a>

	<!-- dots -->
	<div class="dots">
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
	</div>

	<!-- <script type="text/javascript">
		
		function picToCaption(){
			document.getElementByClassName('pic1').innerHTML = "animation!";
		}

	</script> -->
</body>
</html>