<!DOCTYPE html>
<html>
<head>
	<title>Cast</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/cast.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/cast.css">

</head>
<body>
	<a href="../final.html"><div id="box"><h1 id="header">VANDERPUMP RULES</h1></div></a>
	<a href="http://www.bravotv.com/" target="_blank"><img id="logo" src="../images/bravologo.png" alt="Bravo's logo"></a>
	<div class="dropdown">
		<img class="menu" src="../images/searchicon.png" alt="Search icon">
  		<!-- <button class="menu">navigate</button> -->
 		<div class="menu-options">
  			<a href="about.html">about</a>
  			<a href="cast.html">meet the cast</a>
  			<a href="press.html">press</a>
  			<a href="trailer.html">season 7</a>
  		</div>
	</div>


	<div class="slideshow-container">
		<div class="slide fade">
			<img src="../images/lisa.png" class="castPics">
			<h4>The Queen herself: Lisa Vanderpump. Matriarch of Vanderpump Rules and owner of Sur</h4>
		</div>

		<div class="slide fade">
			<img src="../images/jax.png" class="castPics">
			<h4>Vanderpump Rule's resident bad guy, Jax Taylor. Serial cheater and pathological liar extraordinaire!</h4>
		</div>

		<div class="slide fade">
			<img src="../images/brittany.png" class="castPics">
			<h4>Brittany Cartwright: left her family in Kentucky to move in with boyfriend (now fiancé) Jax in LA.</h4>
		</div>

		<div class="slide fade">
			<img src="../images/stassi.png" class="castPics">
			<h4>Queen of birthdays and one-liners, Stassi Schroeder.</h4>
		</div>

		<div class="slide fade">
			<img src="../images/scheana.png" class="castPics">
			<h4>Scheana Marie: the woman responsible for starting the show after having an affair with the husband of Lisa Vanderpump's friend/RHOBH castmate.</h4>
		</div>

		<div class="slide fade">
			<img src="../images/tom.png" class="castPics">
			<h4>Tom Sandoval: not afraid to express his emotions or his impressive sense of style, and is an admirably loyal friend.</h4>
		</div>

		<div class="slide fade">
			<img src="../images/ariana.png" class="castPics">
			<h4>Ariana Madix is an aspiring actress and comic, known for her sharp wit and intellect.</h4>
		</div>

		<div class="slide fade">
			<img src="../images/james.png" class="castPics">
			<h4>James Kennedy, the youngest of the group, is right behind Jax in the running for Pump Rules' least likable member.</h4>
		</div>

		<div class="slide fade">
			<img src="../images/katie.png" class="castPics">
			<h4>Katie Maloney, married to Tom Schwartz, has an alter-ego named Tequila Katie who emerges after an excess of, you guessed it, tequila.</h4>
		</div>

		<div class="slide fade">
			<img src="../images/schwartz.png" class="castPics">
			<h4>Katie's husband, Tom, is known for his boyish features and love of jägerbombs.</h4>
		</div>

		<div class="slide fade">
			<img src="../images/kristen.png" class="castPics">
			<h4>Kristen Doute has rightfully earned the title "crazy Kristen" for her ability to detect lies and expose the truth.</h4>
		</div>

		<div class="slide fade">
			<img src="../images/lala.png" class="castPics">
			<h4>Lala Kent is Vanderpump Rules' champion of girl-power and confidence.</h4>
		</div>

	</div>

<!-- next and previous buttons -->
	<a class="prev">&#10094;</a>
	<a class="next">&#10095;</a>

	<!-- dots -->
	<div class="dots">
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
	</div>

	<!-- <script type="text/javascript">
		
		function picToCaption(){
			document.getElementByClassName('pic1').innerHTML = "animation!";
		}

	</script> -->
</body>
</html>