<!DOCTYPE html>
<html>
<head>
	<title>press</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/press.css">
</head>
<body>
	<a href="../final.html"><div id="box"><h1 id="header">VANDERPUMP RULES</h1></div></a>
	<a href="http://www.bravotv.com/"><img id="logo" src="../images/bravologo.png"></a>
	<div class="dropdown">
		<img class="menu" src="../images/searchicon.png">
  		<!-- <button class="menu">navigate</button> -->
 		<div class="menu-options">
  			<a href="about.html">about</a>
  			<a href="cast.html">meet the cast</a>
  			<a href="press.html">press</a>
  		</div>
	</div>


	<h1 id="pressTitle">Vanderpump Rules is one of the most-watched and highly-rated reality shows of all time. Don't believe me? See what critics have to say...</h1>
	<br>
	<a href="https://www.vogue.com/projects/13547011/babes-in-pump-land-vanderpump-rules-bravo/"><img id="vogue" src="../images/vogue.png" target="_blank"></a>
	<a href="https://www.hollywoodreporter.com/review/vanderpump-rules-tv-review-408692"><img id="hwoodreporter" src="../images/hollywoodreporter.png"></a>
	<a href="https://www.nytimes.com/2016/03/06/magazine/letter-of-recommendation-vanderpump-rules.html"><img id="nytimes" src="../images/nytimes.png"></a>
	<a href="http://entertainment.time.com/2014/01/29/why-vanderpump-rules-is-tvs-tastiest-reality-trash/"><img id="time" src="../images/time.png"></a>

	<a href="http://www.bravotv.com/"><img id="logo" src="../images/bravologo.png"></a>
	<footer>Elizabeth Casey</footer>

</body>
</html>