<!DOCTYPE html>
<html>
<head>
	<title>Press</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/press.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/about.js"></script>
</head>
<body>
	<a href="../final.html"><div id="box"><h1 id="header">VANDERPUMP RULES</h1></div></a>
	<a href="http://www.bravotv.com/" target="_blank"><img id="logo" src="../images/bravologo.png" alt="Bravo's logo"></a>
	<div class="dropdown">
		<img class="menu" src="../images/searchicon.png" alt="White search icon">
  		<!-- <button class="menu">navigate</button> -->
 		<div class="menu-options">
  			<a href="about.html">about</a>
  			<a href="cast.html">meet the cast</a>
  			<a href="press.html">press</a>
  			<a href="trailer.html">season 7</a>
  		</div>
	</div>


	<h1 id="pressTitle">Vanderpump Rules is one of the most-watched and highly-rated reality shows of all time. Don't believe me? See what critics have to say...</h1>
	<br>
	<a href="https://www.vogue.com/projects/13547011/babes-in-pump-land-vanderpump-rules-bravo/" target="_blank"><img id="vogue" src="../images/vogue.png" alt="Vogue logo"></a>
	<a href="https://www.hollywoodreporter.com/review/vanderpump-rules-tv-review-408692" target="_blank"><img id="hwoodreporter" src="../images/hollywoodreporter.png" alt="Hollywood Reporter logo"></a>
	<a href="https://www.nytimes.com/2016/03/06/magazine/letter-of-recommendation-vanderpump-rules.html" target="_blank"><img id="nytimes" src="../images/nytimes.png" alt="New York Times logo"></a>
	<a href="http://entertainment.time.com/2014/01/29/why-vanderpump-rules-is-tvs-tastiest-reality-trash/" target="_blank"><img id="time" src="../images/time.png" alt="Time magazine logo"></a>


</body>
</html>