<!DOCTYPE html>
<html>
<head>
	<title>Season 7</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/trailer.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/trailer.css">
</head>
<body>
	<a href="../final.html"><div id="box"><h1 id="header">VANDERPUMP RULES</h1></div></a>
	<a href="http://www.bravotv.com/" target="_blank"><img id="logo" src="../images/bravologo.png" alt="Bravo's logo"></a>
	<div class="dropdown">
		<img class="menu" src="../images/searchicon.png" alt="Search icon">
  		<!-- <button class="menu">navigate</button> -->
 		<div class="menu-options">
  			<a href="about.html">about</a>
  			<a href="cast.html">meet the cast</a>
  			<a href="press.html">press</a>
  			<a href="trailer.html">season 7</a>
  		</div>
	</div>

	<h3>Watch season 7 of Vanderpump Rules Mondays at 9pm!</h3>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/vxuvhsip7W4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>